@model NeighborhoodSectorModelView
@{
    ViewData["Title"] = "Enregistrer un secteur";
}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-11 text-center">
            <div class="card shadow-sm">
                <h5 class="text-center mb-4">Enregistrer un secteur</h5>
                <form class="form-card p-4" id="form-create" method="post" asp-controller="NeighborhoodSector" asp-action="Create">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Nome du secteur<span class="text-danger"> *</span></label>
                            <input asp-for="Name" class=" form-control" type="text" placeholder="Informer le nom">
                            <span class="text-danger"><small>@Html.ValidationMessageFor(s => s.Name)</small></span>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Commune <span class="text-danger">*</span></label>
                            <select asp-for="MunicipalityId" id="municipality-select" class="form-control">
                                @if (Model.Municipalities is not null)
                                {
                                    foreach (MunicipalityModel mun in Model.Municipalities)
                                    {
                                        <option value="@mun.Id">@mun.Name</option>
                                    }
                                }
                            </select>
                            <span class="text-danger"><small></small></span>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Quartier <span class="text-danger">*</span></label>
                            <select asp-for="NeighborhoodId" id="neighborhood-select" class="form-control">                                                             
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Observation <span class="text-danger">*</span></label>
                            <textarea asp-for="Observation" class="form-control" placeholder="observation"></textarea>
                        </div>
                    </div>                                        
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Latitude la ville</label>
                            <input asp-for="Latitude" class="form-control" type="number" placeholder="Informer la latitude">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Longitude de la ville</label>
                            <input asp-for="Longitude" class="form-control" type="number" placeholder="Informer la longitude">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <div class="form-check form-switch col-md-6 d-flex align-items-center gap-2">
                                <input asp-for="IsRiskArea" class="form-check-input" type="checkbox" id="IsActive">
                                <label class="form-check-label form-control-label">Est ce une zone a risque ?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end p-4">
                        <button type="submit" class="btn btn-block form-btn-submit text-white">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/neighborhood-sector/create.js"></script>
}
