@model spapp.ModelViews.MunicipalityModelView
@{
    ViewData["Title"] = "Créer-Commune";
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row">
        <div class="col-md-10">
            <a asp-controller="Municipality" asp-action="Index" class="action-url-btn btn" title="retour">
                <span>
                    <i class="bi bi-arrow-left-square"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 col-11 text-center">
            <div class="card shadow-sm">
                <h5 class="text-center mb-4 p-2">Enregistrer une Commune</h5>
                <form class="form-card p-4" id="form-create-municipality" method="post" asp-controller="Municipality" asp-action="Create">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Nom de la Commune<span class="text-danger"> *</span></label>
                            <input asp-for="Name" id="name-municipality" class=" form-control" type="text" placeholder="Informer le nom de la commune">
                            <span class="text-danger"><small>@Html.ValidationMessageFor(mun => mun.Name)</small></span>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Ville</label>
                            <select id="cityId" name="cityId" asp-for="CityId" class="form-select">

                                @if (Model.Cities is not null)
                                {
                                    foreach(CityModel city in Model.Cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                }
                                <span class="text-danger"><small>@Html.ValidationMessageFor(mun => mun.CityId)</small></span>
                            </select>
                        </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Total Habitant</label>
                            <input asp-for="Population" class="form-control" type="number" placeholder="Informer le total d'habitant">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Latitude la commune</label>
                            <input asp-for="Latitude" class="form-control" type="number" placeholder="Informer la latitude">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex align-items-start mb-3">
                            <label class="form-control-label">Longitude de la commune</label>
                            <input asp-for="Longitude" class="form-control" type="number" placeholder="Informer la longitude">
                        </div>
                    </div>
                    <div class="row justify-content-end p-4">
                        <button type="submit" class="btn btn-block form-btn-submit text-white">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/municipality/create.js"></script>
}
