@model VehicleModelView
@{
    ViewData["Title"] = "Enregistrer une nouvelle complainte";
}
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row">
        <div class="col-md-10">
            <a asp-controller="Complain" asp-action="Index" class="action-url-btn btn" title="retour">
                <span>
                    <i class="bi bi-arrow-left-square"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 border d-flex align-items-center shadow-sm" id="form-create-tab">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <button class="btn border rounded-circle px-3 py-2 alert alert-secondary" id="form-victim-btn">1</button>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <button class="btn border rounded-circle px-3 py-2 alert alert-secondary" id="form-complain-btn">2</button>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <button class="btn border rounded-circle px-3 py-2 alert alert-secondary" id="form-address-btn">3</button>
            </div>
        </div>
        <form class="row">
            <div class="row" id="form-victim-info">
                <div class="col-md-10 p-2 mb-3 d-flex align-items-center gap-2">
                    <i class="bi bi-person"></i>
                    <h4 class="modal-title">Victime info</h4>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label class="form-control-label">Nom du plaidoyant</label>
                        <input type="text" class="form-control" placeholder="Nom"/>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label">Num. de telephone</label>
                        <input type="text" class="form-control" placeholder="numero telephone" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label class="form-control-label">Num. CNI </label>
                        <input type="text" class="form-control" placeholder="Numero CNI" />
                    </div>
                    <div class="col-sm-6">
                        <label class="form-control-label">Num. Attestation</label>
                        <input type="text" class="form-control" placeholder="numero d'atestation" />
                    </div>
                </div>
                <div class="row d-flex align-items-center gap-2">
                    <div class="col-md-10 p-2 mb-3 d-flex align-items-center gap-2">
                        <i class="bi bi-house"></i>
                        <h5 class="modal-title">Address du plaidoyant</h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <div class="col-sm-6 autocomplete-municipality-parrent" style="position: relative;">
                                <label class="form-control-label">Commune</label>
                                <input type="text" id="municipality" class="form-control" placeholder="commune" />
                                <div class="w-100 autocomplete-spapp" id="autocomplete-municipality">
                                </div>
                            </div>
                            <div class="col-sm-6 autocomplete-neighborhood-parrent" style="position: relative;">
                                <label class="form-control-label">Quartier</label>
                                <input type="text" id="neighborhood" class="form-control" placeholder="Quartier" />
                                <div class="w-100 autocomplete-spapp" id="autocomplete-neighborhood">                  
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-control-label">Secteur</label>
                                <input type="text" class="form-control" placeholder="secteur" />
                            </div>
                            <div class="col-sm-6">
                                <label class="form-control-label">Rue</label>
                                <input type="text" class="form-control" placeholder="rue" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <label class="form-control-label">Complement</label>
                                <input type="text" class="form-control" placeholder="complement" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-3">
                        <div class="w-100" id="create-complain-require-map" style="height: 370px;">

                        </div>
                    </div>
                </div>             
            </div>
            <div class="row d-none d-flex align-items-center gap-2" id="form-complain-info">
                <div class="col-md-10 p-2 mb-3 d-flex align-items-center gap-2">
                    <i class="bi bi-megaphone"></i>
                    <h4 class="modal-title">Plainte info</h4>
                </div>

               
            </div>
            <div class="row d-none d-flex align-items-center gap-2" id="form-address-info">
                <div class="col-md-10 p-2 mb-3 d-flex align-items-center gap-2">
                    <i class="bi bi-house"></i>
                    <h4 class="modal-title">Address</h4>
                </div>
                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/complain/create.js"></script>
    <script src="~/js/complain/create-require-map.js"></script>
}
